{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="w-full p-4">
        <div
                class="min-h-screen flex items-center justify-center"

                {{ react_component('Auth/Register', {
                    backButtonUrl:  path('app_login'),
                    verifyEmailErrors: app.flashes('verify_email_error'),
                    csrfToken: csrf_token("create-account"),
                }) }}
        >
        </div>
    </section>
{% endblock %}
