{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    <div {{ react_component('Hello', {fullName: "Jason"}) }}>
        Loading...
    </div>
{% endblock %}
