{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}
    {% set Form %}
        {{ form(form) }}
    {% endset %}

    <div {{ react_component('Hello', {form: Form}) }}>
        Loading...
    </div>
{% endblock %}
